body{
    font-family: arial;
}
.descricao{

    display: flex;
    flex-direction: column;
}
.produto{
    display: flex;
    flex-direction: row;
}
.lista>li{
    border: 1px solid #000;
    margin-bottom: 10px;
    list-style: none;
}